.customStyle {
    justify-content: right;
    width: 140%;
    padding-right: 35%;
    font-family: 'Source Sans Pro', sans-serif;
}

.boatDetails {
    width: 130%;
    color: #34495e;
    font-weight: bold;
}

.cardHeader {
    background-color: #f7f7f7;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.cardTitle {
    color: #007bff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #34495e;
    font-weight: bold;
}

.cardText {
    padding-bottom: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.listGroupItem {
    border: none;
    padding: 0.5rem 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #34495e;
}

.listGroupItemEquipmentTitle {
    background-color: #f7f7f7;
    font-weight: bold;
    padding-top: 1rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 20px 0;
}