.custom-style-booking-form {
    justify-content: left;
    width: 80%;
}

/* BookingForm.css */
.custom-style-booking-form .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds shadow to the card */
    border-radius: 8px;
    /* Rounded corners for the card */
}

.custom-style-booking-form .card-header {
    background-color: #f7f7f7;
    color: #333;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.5rem;
}

.custom-style-booking-form .card-body {
    padding: 20px;
}

.custom-style-booking-form .form-label {
    font-weight: bold;
}

.custom-style-booking-form .form-control {
    border-radius: 4px;
    box-shadow: none;
}

.custom-style-booking-form .form-group {
    margin-bottom: 15px;
}

.custom-style-booking-form .btn {
    width: 100%;
    margin-bottom: 10px;
}

.custom-style-booking-form .btn-primary {
    background-color: #007bff;
    border: none;
}

.custom-style-booking-form .btn-secondary {
    background-color: #6c757d;
    border: none;
}

.custom-style-booking-form .list-group-item {
    background-color: transparent;
    border: none;
}

.booking-form-extras-select {
    height: auto;
    overflow-y: auto;
    border: 1px solid #ced4da;
}

.booking-form-extras-select option {
    padding: 0.5rem;
    border-bottom: 1px solid #f8f9fa;
}

.booking-form-extras-select::-webkit-scrollbar {
    width: 10px;
}

.booking-form-extras-select::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.booking-form-extras-select::-webkit-scrollbar-thumb {
    background: #888;
}

.booking-form-extras-select::-webkit-scrollbar-thumb:hover {
    background: #555;
}